@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  box-sizing: border-box;

}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 50px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 13%;
  /* margin: 20px; */
}

.flex-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.lhs-pages, .rhs-pages {
  display: flex;
}

.lhs-pages > div, .rhs-pages > div {
  padding: 20px;
}