@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  box-sizing: border-box;

}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 50px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  /* margin: 20px; */
}

.flex-wrapper {
  margin: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}